:root{
    --darkblue: rgb(2, 2, 39);
    --lightblue: rgb(98, 176, 221);
    --lightyellow: rgb(251, 255, 190);
    background-color:rgb(251, 255, 190);
} 

/* Header and Navigation Menu */


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background-color: var(--lightblue);
    color: var(--darkblue);
    border: var(--darkblue) solid 2px;
    border-radius: 2%;
    z-index: 2;
    width: 100%;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    list-style-type: none;
}

nav a{
    color: var(--darkblue);
    font-size: 20px;
    text-decoration: none;
}

nav ul li{
    font-weight: bold;
}

nav a:hover {
    color: var(--lightyellow);
}

/* Main body of the page */

h1{
    font-size: 300%;
}

h2{
    font-size: 200%; 
}

h3{
    font-size: 150%; 
}

main {
    display: flex;
    flex: 1 1 0;
    width: 100%;
    margin: 2%;
    flex-direction: column;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    background-color: var(--lightblue);
    color: var(--darkblue);
    border-top: var(--darkblue) solid 2px;
    width: 100%;
    bottom: 0;
}

#charlottepicture{
    float: right;
    position: relative;
    margin: 1%;
    padding: 1%;
    width: 45%; 
    border: var(--darkblue) solid 2px;
    background-color: var(--lightblue);
    border-radius: 9%; 
    align-self: right;
}

.text{
    width: 45%;
    float: left;
    position: relative;
}

/* SPLIT PORTFOLIO INTO TWO ROWS */

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    align-items: center;
    width: 100%;
}

.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2%;
    align-items: center;
    width: 90%;

}

.justify-center {
    justify-content: center;
}

.content-column{
    flex: 1 0 100%;
    padding: 2%;
    flex-direction: column;
}

/* My work */

.card1{
    width: 100%;
    padding: 1%;
    background-color: var(--lightblue);
    color: var(--darkblue);  
    border-color: var(--darkblue);
    border: solid 2px;  
    border-radius: 9%;
    margin: 2%;
    flex: 1 0 100%;

}

.card1:hover {
    border-color: var(--lightyellow);
    box-shadow: 10px 10px 10px var(--darkblue);
}

.card{
    padding: 1%;
    background-color: var(--lightblue);
    color: var(--darkblue);  
    border-color: var(--darkblue);
    border: solid 2px;  
    border-radius: 9%;
    margin: 2%;
    width: 45%;

}

.card:hover {
    border-color: var(--lightyellow);
    box-shadow: 10px 10px 10px var(--darkblue);
}

.cardheader{
    position: relative;
    margin: 2%;
    padding: 2% 5%;
    background-color: var(--darkblue);
    color: var(--lightyellow);
    border: solid 2px;
    border-color: var(--lightyellow);
    text-align: center;
    border-radius: 9%;
}

.cardbody{
    display: block;
    margin: 2%;
    box-sizing: border-box;
}

.desert{
    position: relative;
    margin: 1%;
    padding: 1%;
    width: 100%; 
    border-radius: 9%; 
    align-self: center;
}

.subcards{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
}

/* Contact Me Section */

aside{
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 90%;
    list-style-type: none;
    align-self: center;
}

aside ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    border: solid var(--darkblue) 2px;
    background-color: var(--lightblue);
    margin: auto;
    padding: 20px 20px;
}

aside a{
    color: var(--darkblue);
    font-size: 20px;
    text-decoration: none;
}

aside ul li{
    font-weight: normal;
}

aside a:hover {
    color: var(--lightyellow);
}


@media screen and (max-width:768px) {
   header{
       flex-direction: column;
   }
}

/* MAKE THE CONTENT GO UP AND DOWN */
@media screen and (max-width:768px) {
    .row{
        flex-direction: column;
        width: 100%;
        margin: 1%;
        padding: 1%;
    }
}


 /* @media screen and (max-width:768px) {
    .subcards{
        display: flex;
        flex-flow: column;
        margin: 9%;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}    */

@media screen and (max-width:768px) {
    .card{
    width: 100%;
    }
}   