:root{
    --darkblue: #011E3D;
    --lightblue: #97B8C2;
    --lightyellow: #fcfaf2;
} 

/* Header and Navigation Menu */


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    padding-top: 2%;
    background-color: var(--lightblue);
    color: var(--darkblue);
    border-bottom: var(--darkblue) solid 2px;
    z-index: 2;
    width: 100%;
    top: 0;
    font-family:'Josefin Sans', sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    list-style-type: none;
}

nav a{
    color: var(--darkblue);
    font-size: 20px;
    text-decoration: none;
}


nav a:hover {
    color: var(--lightyellow);
}

/* Main body of the page */

h1{
    font-size: 300%;
}

h2{
    font-size: 200%; 
}

h3{
    font-size: 150%; 
}

main {
    font-family:'Josefin Sans', sans-serif;
    font-size: 19px;
}

p{
    line-height: 24px;
}

a{
    text-decoration: none;
    color: var(--darkblue);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    padding-top: 2%;
    background-color: var(--lightblue);
    color: var(--darkblue);
    border-top: var(--darkblue) solid 2px;
    width: 100%;
    bottom: 0;
    font-family:'Josefin Sans', sans-serif;
}


#charlottepicture{
    padding: 1%;
    height: 10%;
    border: var(--darkblue) solid 2px;
    background-color: var(--lightblue);
    border-radius: 9px; 
}

.text{
    margin: 3px;
    background-color: var(--lightblue);
    padding: 3%;
    border-radius: 5px;
    border: solid var(--darkblue) 2px;
}

#language-list{
    list-style-type: none;
    margin-top: 15px;
}

.lang{
    margin: 5px;
}

.icon{
    height: 55px;
    border-radius: 7px;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin: 2%; */
    margin-bottom: 0%;
    align-items: center;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    align-items: center;
    width: 100%;
}

.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2%;
    align-items: center;
    width: 95%;
}

.justify-center {
    justify-content: center;
}

.content-column{
    flex: 1 0 100%;
    padding: 2%;
    flex-direction: column;
}

.light-text{
    color: var(--lightyellow);
}

.dark-text{
    color: var(--darkblue);
}

/* Individual Works Cards */

.card1{
    padding: 1%;
    background-color: var(--lightblue);
    color: var(--darkblue);  
    border-color: var(--darkblue);
    border: solid 2px;  
    border-radius: 9px;
}

.description{
    display: block;
    margin: 2%;
    box-sizing: border-box;
    margin-left: 7%;
}



/* Home Page Cards */
.card{
    padding: 1%;
    background-color: var(--lightblue);
    color: var(--darkblue);  
    border-color: var(--darkblue);
    border: solid 2px;  
    border-radius: 9px;
    margin: 2%;
    width: 45%;
}

.card:hover {
    border-color: var(--lightyellow);
    box-shadow: 10px 10px 10px var(--darkblue);
}

.cardheader{
    position: relative;
    margin: 2%;
    padding: 3% 5% 2% 5%;
    background-color: var(--lightyellow);
    color: var(--darkblue);
    border: solid 2px var(--darkblue);
    text-align: center;
    border-radius: 9px;
}

.cardbody{
    display: block;
    margin: 2%;
    box-sizing: border-box;
}

.desert{
    position: relative;
    margin: 1%;
    width: 98%; 
    border-radius: 9px; 
    border: 2px solid var(--lightyellow);
    align-self: center;
}

.subcards{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
}

/* Contact Me Section */

aside{
    display: flex;
    flex: 1;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    align-self: center;
    font-family:'Josefin Sans', sans-serif;
}

aside ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    border: solid var(--darkblue) 2px;
    background-color: var(--lightblue);
    margin: auto;
    padding: 20px 20px;
}

aside a{
    color: var(--darkblue);
    font-size: 20px;
    text-decoration: none;
}

aside ul li{
    font-weight: normal;
}

aside a:hover {
    color: var(--lightyellow);
}

#resume-text{
    color: var(--lightyellow);  
}


@media screen and (max-width:768px) {
   header,
   footer{
       flex-direction: column;
   }
}

@media screen and (max-width:768px) {
    .row{
        flex-direction: column;
        width: 100%;
        margin: 1%;
        padding: 1%;
    }
}

 @media screen and (max-width:768px) {
    #charlottepicture,
    .text,
    .card{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .contact{
        flex-direction: column; 
        text-align: center;
    }
}